<!DOCTYPE html>
<html>
  <head>
    <title>Get Involved</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>

    <!-- adding these manually for now-->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">

  </head>
  <body id="body">
    <div id="container" ng-app="app">
      <div class="col-xs-6 col-xs-offset-4">
        <div ng-include src="'nav/nav.html'"></div>
      </div>
      <% devise_flash %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <%= value %>
        </div>
      <%end%>

      <%= yield %>

    </div>
  </body>
</html>
