<!DOCTYPE html>
<html>
  <head>
    <title>GetAngry</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>
  <body id="body">
    <div id="container" ng-app="app">
      <div class="col-xs-6 col-xs-offset-4">
        <div ng-include src="nav/nav.html"></div>
      </div>
      <% devise_flash %>
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
          <a href="#" data-dismiss="alert" class="close">×</a>
          <%= value %>
        </div>
      <%end%>

      <%= yield %>

    </div>
  </body>
</html>
